WorkManager/WorkManager.Client/Connected Services/JMainService/main.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ServiceContracts.Server.WorkManager/" targetNamespace="http://ServiceContracts.Server.WorkManager/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get" type="tns:Get" />
  <xs:element name="GetResponse" type="tns:GetResponse" />
  <xs:element name="IllegalAccessException" type="tns:IllegalAccessException" />
  <xs:element name="InvocationTargetException" type="tns:InvocationTargetException" />
  <xs:element name="Invoke" type="tns:Invoke" />
  <xs:element name="InvokeResponse" type="tns:InvokeResponse" />
  <xs:complexType name="Get">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvocationTargetException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="targetException" type="tns:throwable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IllegalAccessException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Invoke">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvokeResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>